<<<<<<< HEAD
// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
=======
// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
>>>>>>> 91b5986153cdbb585703ba7ba15ab9562da9bda5
